html, body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 25px;
  font-family: Georgia, serif;
}

body > header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  z-index: 100;
  background-color: gray;
}

body > header > button.unread, 
body > header > button.starred, 
body > header > button.shared, 
body > header > button.friends {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border: 1px solid gray;
  height: 26px;
  background-color: #eee;
}

body > header > button.friends {
  margin-left: .5em;
}

body > header > button.shared {
  margin-right: .5em;
}

body>header.unread button.unread, body>header.star button.starred, body>header.share button.shared, body>header.friends button.friends {
  font-weight: bold;
  background-color: white;
  border-bottom-color: white;
}

body > header > a.resetView {
  font-family: sans-serif;
  position: absolute;
  right: 0;
  color: white;
}

body.mobile > header > a.resetView {
  display: none;
}

body.mobile > header > button {
  padding: 2px 0;
  font-size: .95em;
}

body.mobile article img {
  max-width: 100%;
}

body > div.container {
  position: relative;
  padding: 0 .5em;
}

div.shadow {
  position: absolute;
  top: 0;
  width: 100%;
  background: black;
  opacity: .5;
}

section.entry {
  padding-left: 1.4em;
  padding-right: .5em;
  display: block;
  border: 0 solid #bbb;
  border-bottom-width: 2px;
  margin-bottom: .2em;
  width: 95%;
}

body.mobile section.entry {
  padding: 0;
  width: auto;
}

section.entry.active {
  border-color: #333;
}

body.mobile section.entry > h2 {
  font-size: 1.2em;
}

section.entry > h2 {
  font-family: sans-serif;
  margin-top: .1em;
  margin-bottom: .3em;
  margin-left: .3em;
  text-indent: -1.4em;
}

section.entry > h2 * {
  display: inline;
}

section.entry > h2 > a {
  text-decoration: none;
  line-height: 1em;
}

section.entry > h2 > button {
  font-size: inherit;
  width: 1em;
  padding-right: 1.1em;
}

body.mobile section.entry > h2 > button {
  visibility: hidden;
}

section.entry > h2 > input {
  width: 95%;
  font-size: inherit;
}

section.entry > article {
  display: block;
  overflow-x: auto;
  clear: both;
}

section.entry > article > p {
  line-height: 1.15em;
}

section.entry > cite, section.entry > article, section.entry > footer {
  margin-left: .5em;
}

section.entry > cite {
  float: right;
  text-align: right;
}

section.entry > cite > img {
  margin: 6px;
  vertical-align: middle;
}

section.entry > dl.comments {
  display: block;
  margin: .5em;
  border: 2px dotted gray;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: .5em .5em 0 .5em;
}

section.entry > dl.comments > dt {
  font-weight: bold;
}

section.entry > dl.comments > dt:after {
  content: ':';
}

section.entry > dl.comments > dd {
  margin-bottom: .5em;
}

section.entry > dl.comments > dd.addcomment.hidden .input {
  display: none;
}

section.entry > footer {
  clear: both;
  display: block;
  margin-left: 0;
}

section.entry > footer > span.buttons {
  white-space: nowrap;
}

section.entry > footer > span.tags {
  float: right;
  opacity: .5;
}

section.entry div.spacer {
  width: 90%;
}

body.mobile section.star button.star, body.mobile section.share button.share {
  font-weight: bold;
}

button.star {
  color: #bfb016;
}

button.share {
  color: #dc9765;
}

button.edit, button.comment {
  color: #74d774;
}

button.star, button.share, button.edit, button.comment, button.cancel {
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

textarea {
  width: 95%;
}
